[user]
  name = Jarrett Aiken
  email = jarrett.aiken@achl.fr
  signingkey = A27BACF67A192EF4
[alias]
  authors = log shortlog -sne
[commit]
  gpgSign = true
[push]
  gpgSign = false
[tag]
  gpgSign = true
[status]
  showUntrackedFiles = all
[core]
  editor = \"C:/Program Files/Microsoft VS Code/Code.exe\" --wait
[gpg]
  program = "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
